body {
  background: #1D2B64;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F8CDDA), to(#1D2B64));
  background: linear-gradient(to right, #F8CDDA, #1D2B64);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --primary-dark: #1D2B64;
  --primary-light: #F8CDDA;
  color: #141414;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bubble {
  background: #1D2B64;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F8CDDA), to(#1D2B64));
  background: linear-gradient(to right, #F8CDDA, #1D2B64);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 300px;
  width: 300px;
  border-radius: 50%;
  opacity: .2;
  position: absolute;
}

.bubble-1 {
  right: 10%;
}

.bubble-2 {
  left: 0;
  bottom: 0;
  height: 500px;
  width: 500px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 576px) {
  .bubble-2 {
    max-width: 100%;
  }
}

.page-heading {
  padding-bottom: 1rem;
  display: block;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.page-heading .heading {
  margin-top: 1rem;
  margin-bottom: 0;
}

.page-heading + .heading {
  margin-top: 1rem;
}

.heading {
  color: var(--primary-dark);
  position: relative;
  display: inline-block;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.heading:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  left: 0;
  bottom: 5px;
  opacity: .8;
  z-index: -1;
  background: var(--primary-light);
}

nav {
  padding: 10px;
  float: right;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.02);
          box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.02);
}

nav .nav {
  border-radius: 3rem;
  position: relative;
  height: 3.5rem;
  border: none !important;
}

nav .nav-link {
  width: 7rem;
  text-align: center;
  border-radius: 3rem !important;
  border: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
}

nav .nav-link:hover {
  background: none !important;
}

nav .nav-link i {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav .nav-link {
    width: 4rem;
  }
  nav .nav-link span {
    display: none;
  }
  nav .nav-link i {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  nav .nav-link {
    width: 3.5rem;
  }
}

nav .nav .navbar-indicator {
  position: absolute;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  width: 7rem;
  background: #fff;
  left: 0;
  z-index: -1;
  height: calc(3.5rem);
  border-radius: 1.7rem;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1024px) {
  nav .nav .navbar-indicator {
    width: 4rem;
  }
}

@media screen and (max-width: 576px) {
  nav .nav .navbar-indicator {
    width: 3.5rem;
  }
}

.tab-content {
  clear: both;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  min-height: 70vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.tab-content .tab-pane {
  width: 100%;
}

.home-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
}

@media screen and (min-width: 992px) {
  .home-container {
    max-height: 80vh;
  }
}

.home-container .hero-image {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  .home-container .hero-image {
    height: 60vh !important;
  }
}

@media screen and (max-width: 992px) {
  .home-container__item {
    height: auto !important;
  }
}

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-content__badge {
  background: var(--primary-light);
  border-radius: 5px;
  padding: 10px 15px;
  position: relative;
}

.home-content__badge:after {
  content: "";
  bottom: -16px;
  right: 8px;
  position: absolute;
  border: 8px solid transparent;
  border-top-color: var(--primary-light);
}

.home-content h2 {
  margin-top: 25px;
  color: var(--primary-dark);
  font-size: 3rem;
}

.home-content p {
  font-size: 18px;
}

.home-content .hire-me-btn {
  margin-top: 25px;
  background: var(--primary-dark);
  color: var(--white);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: .3rem;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.home-content .hire-me-btn:hover {
  -webkit-box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.15);
}

.home-content .social-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-content .social-icons a {
  color: var(--primary-dark);
}

.home-content .social-icons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: var(--primary-dark);
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  background: var(--white);
}

.home-content .social-icons__item:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.about-me-container .intro {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border: 0;
  opacity: .9;
}

.about-me-container .intro__image {
  text-align: center;
  position: relative;
}

.about-me-container .intro__image img {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.about-me-container .intro__image__badge {
  padding: 10px;
  border-radius: 5px;
  background: var(--primary-light);
  font-size: .8rem;
  margin-top: -10px;
  display: inline-block;
  margin-bottom: 0;
}

.about-me-container .intro__image__badge span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .about-me-container .intro__image__badge {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .about-me-container .intro__image {
    margin-bottom: 1rem;
  }
}

.about-me-container .intro__description b {
  margin-right: 5px;
}

.about-me-container .intro__description a {
  color: var(--primary-dark);
}

.about-me-container .skills .item {
  position: relative;
  display: inline-block;
}

.about-me-container .skills .item small {
  position: absolute;
  display: block;
  top: 48%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.about-me-container .skills .item small b {
  font-size: 1.2rem;
}

.about-me-container .fun-facts-container .facts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.about-me-container .fun-facts-container .facts__item:hover .facts__item__icon {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.about-me-container .fun-facts-container .facts__item__icon {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.about-me-container .fun-facts-container .facts__item__icon img {
  height: 30px;
  width: 30px;
}

.about-me-container .fun-facts-container .facts__item__content .count {
  font-weight: bold;
  color: var(--primary-dark);
}

.about-me-container .testimonials-container {
  max-width: 100%;
}

.about-me-container .testimonials-container .testimonials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.about-me-container .testimonials-container .testimonials__item-img {
  margin-right: 15px;
}

.about-me-container .testimonials-container .testimonials__item-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-me-container .testimonials-container .testimonials__item > i {
  font-size: 5rem;
  position: absolute;
  z-index: -1;
  opacity: .2;
  right: 1rem;
}

@media screen and (max-width: 576px) {
  .about-me-container .testimonials-container .testimonials__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me-container .testimonials-container .testimonials__item-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: .5rem;
  }
}

.about-me-container .testimonials-container .testimonials .owl-nav {
  display: inline-block;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  right: 0;
}

.about-me-container .testimonials-container .testimonials .owl-nav button {
  height: 3rem;
  width: 3rem;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
  font-size: 2rem;
  outline: none;
}

.about-me-container .testimonials-container .testimonials .owl-nav button:hover {
  border-color: transparent;
  background: var(--primary-dark);
}

@media screen and (max-width: 576px) {
  .about-me-container .testimonials-container .testimonials .owl-nav {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  .about-me-container .testimonials-container .testimonials .owl-nav button {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
  }
}

.about-me-container .services-container .services__item {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
}

.about-me-container .services-container .services__item .item-icon {
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me-container .services-container .services__item .item-icon img {
  height: 2.5rem;
  width: 2.5rem;
}

.resume-container .educations, .resume-container .employments {
  margin-top: 1rem;
}

.resume-container .educations__item, .resume-container .employments__item {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  -webkit-box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.08);
}

.resume-container .educations__item:after, .resume-container .employments__item:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 10px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.7);
  top: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.resume-container .educations__item:before, .resume-container .employments__item:before {
  content: "";
  position: absolute;
  top: -15px;
  height: 1px;
  left: 0;
  width: 100%;
  border: 1px dashed var(--primary-dark);
}

.projects-container {
  min-height: 80vh;
}

@media screen and (min-width: 1366px) {
  .projects-container {
    min-height: 90vh;
  }
}

.projects-container .projects__nav {
  margin-bottom: 1rem;
}

.projects-container .projects__nav button {
  outline: none;
  opacity: .8;
  padding: .8rem;
  font-weight: 500;
}

.projects-container .projects__nav button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.projects-container .projects__nav button.active {
  color: var(--primary-dark);
}

.projects-container .projects__grid {
  margin-right: -10px;
}

.projects-container .projects__grid .projects__item, .projects-container .projects__grid .grid-sizer {
  float: left;
  width: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  background: #0D8;
  position: relative;
  overflow: hidden;
  border-radius: .3rem;
}

@media screen and (max-width: 1200px) {
  .projects-container .projects__grid .projects__item, .projects-container .projects__grid .grid-sizer {
    width: calc(33.33% - 10px);
  }
}

@media screen and (max-width: 576px) {
  .projects-container .projects__grid .projects__item, .projects-container .projects__grid .grid-sizer {
    width: calc(50% - 10px);
  }
}

.projects-container .projects__grid .projects__item img, .projects-container .projects__grid .grid-sizer img {
  max-width: 100%;
}

.projects-container .projects__grid .projects__item__description, .projects-container .projects__grid .grid-sizer__description {
  bottom: 0;
  left: 1rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  color: var(--primary-light);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .projects-container .projects__grid .projects__item__description, .projects-container .projects__grid .grid-sizer__description {
    font-size: .6rem;
  }
}

.projects-container .projects__grid .projects__item:before, .projects-container .projects__grid .grid-sizer:before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--black);
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.projects-container .projects__grid .projects__item:hover:before, .projects-container .projects__grid .grid-sizer:hover:before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--black);
  opacity: .5;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.projects-container .projects__grid .projects__item:hover .projects__item__description, .projects-container .projects__grid .grid-sizer:hover .projects__item__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-container .projects__grid .grid-sizer {
  margin-bottom: 0 !important;
}

.blogs-container .blogs__item {
  height: 400px;
  margin-bottom: 1.5rem;
  border-radius: .8rem;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .blogs-container .blogs__item {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blogs-container .blogs__item {
    height: 300px;
  }
}

.blogs-container .blogs__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.blogs-container .blogs__item__description {
  position: absolute;
  bottom: .6rem;
  left: .6rem;
  right: .6rem;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: .5rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs-container .blogs__item__description a.btn {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5rem;
  padding: 0;
}

.blogs-container .blogs__item__description a.blog-title {
  font-size: 1.5rem;
  display: block;
}

.contact-us-form .form-control {
  border-radius: 1.4rem;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  nav {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */