body {
  background: #1D2B64;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F8CDDA), to(#1D2B64));
  background: linear-gradient(to right, #F8CDDA, #1D2B64);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --primary-dark: #1D2B64;
  --primary-light: #F8CDDA;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bubble {
  background: #1D2B64;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F8CDDA), to(#1D2B64));
  background: linear-gradient(to right, #F8CDDA, #1D2B64);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 300px;
  width: 300px;
  border-radius: 50%;
  opacity: .2;
  position: absolute;
}

.bubble-1 {
  right: 10%;
}

.bubble-2 {
  left: 0;
  bottom: 0;
  height: 500px;
  width: 500px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.heading {
  color: var(--primary-dark);
  position: relative;
  display: inline-block;
  margin-top: 1.5rem;
}

.heading:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  left: 0;
  bottom: 5px;
  opacity: .8;
  z-index: -1;
  background: var(--primary-light);
}

nav {
  padding: 10px;
  width: 50%;
  float: right;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.02);
          box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.02);
}

nav .nav {
  border-radius: 3rem;
  position: relative;
  height: 3.5rem;
  border: none !important;
}

nav .nav-link {
  width: 7rem;
  text-align: center;
  border-radius: 3rem !important;
  border: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
}

nav .nav-link:hover {
  background: none !important;
}

nav .nav .navbar-indicator {
  position: absolute;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  width: 7rem;
  background: #fff;
  left: 0;
  z-index: -1;
  height: calc(3.5rem);
  border-radius: 1.7rem;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.tab-content {
  clear: both;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  min-height: 70vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.home-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
}

@media screen and (min-width: 992px) {
  .home-container {
    max-height: 80vh;
  }
}

.home-container .hero-image {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  .home-container .hero-image {
    height: 60vh !important;
  }
}

@media screen and (max-width: 992px) {
  .home-container__item {
    height: auto !important;
  }
}

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-content__badge {
  background: var(--primary-light);
  border-radius: 5px;
  padding: 10px 15px;
  position: relative;
}

.home-content__badge:after {
  content: "";
  bottom: -16px;
  right: 8px;
  position: absolute;
  border: 8px solid transparent;
  border-top-color: var(--primary-light);
}

.home-content h2 {
  margin-top: 25px;
  color: var(--primary-dark);
  font-size: 3rem;
}

.home-content p {
  font-size: 18px;
}

.home-content .hire-me-btn {
  margin-top: 25px;
  background: var(--primary-dark);
  color: var(--white);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: .3rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.home-content .hire-me-btn:hover {
  -webkit-box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.15);
}

.home-content .social-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-content .social-icons a {
  color: var(--primary-dark);
}

.home-content .social-icons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: var(--primary-dark);
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  background: var(--white);
}

.home-content .social-icons__item:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.about-me-container .intro {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border: 0;
  opacity: .9;
}

.about-me-container .intro__image {
  text-align: center;
  position: relative;
}

.about-me-container .intro__image img {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.about-me-container .intro__image__badge {
  padding: 10px;
  border-radius: 5px;
  background: var(--primary-light);
  font-size: .8rem;
  margin-top: -10px;
  display: inline-block;
  margin-bottom: 0;
}

.about-me-container .intro__image__badge span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5px;
}

.about-me-container .intro__description b {
  margin-right: 5px;
}

.about-me-container .intro__description a {
  color: var(--primary-dark);
}

.about-me-container .skills .item {
  position: relative;
  display: inline-block;
}

.about-me-container .skills .item small {
  position: absolute;
  display: block;
  top: 48%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.about-me-container .fun-facts-container .facts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me-container .fun-facts-container .facts__item:hover .facts__item__icon {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.about-me-container .fun-facts-container .facts__item__icon {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.about-me-container .fun-facts-container .facts__item__icon img {
  height: 30px;
  width: 30px;
}

.about-me-container .fun-facts-container .facts__item__content .count {
  font-weight: bold;
  color: var(--primary-dark);
}

.about-me-container .testimonials-container {
  max-width: 100%;
  overflow: hidden;
}

.about-me-container .testimonials-container .testimonials__item-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.about-me-container .testimonials-container .testimonials__item-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  nav {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */